$blueColor: #58589d;
$whiteColor: #fff;

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;


  .main {
    margin: 30px;

    .main-title h1 {
      font-size: 30px;
    }

    .list {
      .list-header {
        margin: 15px;
        #add-brand-button {
          background-color: $blueColor;
        }
      }
      .list-body {
        a {
          text-decoration: none;
          color: #9f9f9f;
          &:hover, &:focus {
            color: #606060;
          }
        }
        table {
          border: 1px solid #d1d1d1;
          thead {
            background-color: #ebebeb;
          }
          .right-col {
            text-align: right;
          }
          tr th, tr td {
            padding-right: 20px;
            padding-left: 20px;
          }
        }
      }
      .list-footer {
        text-align: right;

        .pagination {
          margin: 2px;

          span {
            vertical-align: bottom;
          }

          li.active a {
            color: #444;
            background: $whiteColor;
            border-bottom: 2px solid $blueColor;
          }
        }
      }
    }
  }
}


.dialog-overlay {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);

  .dialog-content {
    background-color: #fefefe;
    padding: 20px;
    margin: 100px auto auto;
    border: 1px solid #888;
    width: 400px;
    z-index: 1;

    .dialog-header {
      width: 100%;
      float: left;

      .dialog-title {
        float: left;
        font-size: 23px;
        margin: 25px;
      }

      .close-dialog {
        color: #aaaaaa;
        float: right;
        font-weight: bold;
        margin: 25px;

        &:hover, &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
@import "_component.scss";